<header class="site-header">
    
    <!-- Logo and title -->
	<div class="branding">
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
		</a>

		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</h1>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="barAlign font-nav-option">
        {% if site.theme_settings.blog %}
            {% if page.url == "/" %}
                <li class="active pageLabelShow">
                    <a class="clear active" href="{{ site.baseurl }}/">
                        <b>Blog</b>
                    </a>
                </li>
                {% else %}
                    {% if page.layout == "post" %}
                    <li class="active pageLabelShow">
                        <a class="clear active" href="{{ site.baseurl }}/">
                            <b>Blog</b>
                        </a>
                    </li>
                    {% else %}
                    <li class="pageLabelShow">
                        <a class="clear" href="{{ site.baseurl }}/">
                            <b>Blog</b>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        {% endif %} 
        {% for node in site.pages %}
        {% if node.title and node.hide != true %}
            {% if page.url == node.url %}
                <li class="active pageLabelShow">
                    <a class="clear active" href="{{ node.url | relative_url }}">
                        <b>{{ node.title }}</b>
                    </a>
                </li>
            {% else %}
                <li class="pageLabelShow">
                    <a class="clear" href="{{ node.url | relative_url }}">
                        <b>{{ node.title }}</b>
                    </a>
                </li>
            {% endif %}
        {% endif %}
        {% endfor %} 
        {% if site.theme_settings.search %}
            {% if page.url == "/szukaj" %}
                <li class="active pageLabelShow">
                    <a class="clear active" href="{{ site.baseurl }}/szukaj">
                        <b><i class="fa fa-search" aria-hidden="true">&nbsp;</i>Szukaj</b>
                    </a>
                </li>
            {% else %}
                <li class="pageLabelShow">
                    <a class="clear" href="{{ site.baseurl }}/szukaj">
                        <b><i class="fa fa-search" aria-hidden="true">&nbsp;</i>Szukaj</b>
                    </a>
                </li>
            {% endif %}
        {% endif %}
        {% if site.theme_settings.tags %}
            {% if page.url == "/tags" %}
                <li class="active pageLabelShow">
                    <a class="clear active" href="{{ site.baseurl }}/tags">
                        <b><i class="fa fa-tags" aria-hidden="true">&nbsp;</i>Spis treści</b>
                    </a>
                </li>
            {% else %}
                <li class="pageLabelShow">
                    <a class="clear" href="{{ site.baseurl }}/tags">
                        <b><i class="fa fa-tags" aria-hidden="true">&nbsp;</i>Spis treści</b>
                    </a>
                </li>
            {% endif %}
        {% endif %}
        
    </ul>
        
	</nav>
</header>
