// Mix-ins
%padding-small {
    padding: $padding-x-small $padding-x-small * 2;
    @media (max-width: 1000px) {
        padding: $padding-x-small $padding-x-small;
    }
}

%padding-regular {
    padding: $padding-small $padding-large;
    @media (max-width: 1000px) {
        padding: $padding-small * 1.5 $padding-large / 1.6;
    }
    @media (max-width: 576px) {
        padding: $padding-small;
    }
}

.header-txt-shadow {
    text-shadow: 1px 1px 2px $text-shadow;
}

// Buttons
.button {
    border-radius: 0.3em;
    border: 1px solid;
    display: inline-block;
    margin: 1em 0;
    padding: 0.5em 0.75em;
}

a.button {
    @extend .button-link;
}

.button-link {
    &:hover {
        background: $link-color;
        border: 1px solid $link-color;
        color: $background-color;
        text-decoration: none;
    }
}

.body-link {
    &:hover {
        text-decoration: none;
        color: darken($link-color, 15%);
    }
}

.post-link {
    &:hover {
        text-decoration: none;
        color: $link-color;
    }
}

// States
.disabled {
    opacity: 0.7;
}

// Custom
.text-center {
    text-align: center;
}

.right {
    float: right;
}

//collapse panel
.fancy-collapse-panel .panel-default > .card-header {
    padding: 0;
    
    }
    .fancy-collapse-panel .card-header a {
    padding: 12px 35px 12px 15px;
    display: inline-block;
    width: 100%;
    position: relative;
    text-decoration: none;
    }
    .fancy-collapse-panel .card-header a:after {
    font-family: "FontAwesome";
    content: "\f147";
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: 400;
    top: 50%;
    line-height: 1;
    margin-top: -10px;
    }
    
    .fancy-collapse-panel .card-header a.collapsed:after {
    content: "\f196";
    }
